.cta-box{
    display: flex;
    flex-direction: row;
    max-width: 100%;
}
.cta-box>a{
    border-radius: 2px;
    padding: 12.5px 30px;
    min-height: 44px;
    letter-spacing: 1px;
    /* min-width: 180px; */
    width: 266px;
    text-align: center;
    cursor: pointer;
}
.btn-cv{
    color: #fff;
    background: transparent;
    border: 0.5px solid;
    display: inline;
}
.btn-cv span, .btn-works span{
    display: none;
}
.btn-cv:hover span, .btn-works:hover span{
    display: inline;
}
.btn-works{
    background-color: #FFF !important;
    margin-left: 0.55rem;
    border: 0;
}
.btn-works,.btn-works .icon{
    color: rgb(18, 18, 18);
}
.btn-animate a, .btn-animate svg{
    position: relative;
    z-index: 1;  
}
.btn-animate:hover a, .btn-animate:hover svg{
    color: rgb(18, 18, 18);
}
.btn-animate{
    position: relative;
    overflow: hidden;
}
.btn-animate::before{
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    transition: width 0.5s, height 0.5s;
}
.btn-animate:hover::before{
    width: 680px;
    height: 680px;
}

/* End SideNav */
/* RESPONSIVENESS */
@media only screen and (max-width: 575.98px){
    .cta-box{
        flex-direction: column;
        height: 100px;
    }
    .cta-box>a{
        width: 100%;
        /* border-radius: 4px; */
    }
    .btn-works{
        margin-left: 0;
        margin-top: 0.55rem;
    }
}
